<!-- PAGE APRES LA CREATION DE LA CARD VENDEUR  -->

<div class="cardVendeur">
  <div class='imageCardVendeur'>
  </div>
  <div id="<%= dom_id vendeur %>">
    <p class="titleCard">
      <strong>Nameshop:</strong>
      <%= vendeur.nameshop %>
    </p>
  
    <p class="titleCard">
      <strong>Email:</strong>
      <%= vendeur.email %>
    </p>
    <p class="buttonVendeur">
      <%= link_to "Voir le vendeur", vendeur %>
    </p>
  
  </div>

</div>
