
<div class="image">

</div>


<div class="container">
  <div class="background">
    <div class="container-form">
      <h2 class="title-form">New vendeur</h2>
      <%= render "form" , vendeur: @vendeur %>
        <br>
        <div class="sign-up">
            <%= link_to "Back to vendeurs" , vendeurs_path %>
        </div>




    </div>
  </div>
</div>