
<div class="image">

</div>


<div class="container">
  <div class="background">
    <div class="container-form">
      <h2 class="title-form">New vendeur</h2>
      <%= render "form" , vendeur: @vendeur %>
        <br>
        <div class="buttonBack">
            <%= link_to "Retour au vendeur" , vendeurs_path %>
        </div>




    </div>
  </div>
</div>

<div class="footer">
  <a class="footer-text">Nous contacter</a>
  <div class="logo">
  </div>
  <a class="footer-text">A propos</a>
 
  <p></p>
</div>