.container-header{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.nav{
  display: flex;
  flex-direction: row;
  padding-right: 24px;
}



.image {
  background-image: url(image-path('crushon.png'));
  width: 170px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  

}

.button-log {
  text-decoration: none;
  background-color: #E14A11;
  width: 100px;
  padding: 8px;
  margin-right: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    color: #f6f6f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
  }
}